.itemList {
	padding-top: 10px;
	margin-left: 0;
	padding-left: 0;
}

.itemList label {
	display: inherit;
	width: 88%;
	font-size: 16px;
}

.itemList span {
	width: 40%;
	color: #999;
}

.itemList span:before {
	content: 'x ';
	font-size: 10px;
}

.itemList button{
    max-width: 29px;
    margin-left: 5px;
}
.itemList li{
    list-style-type: none;
    margin-bottom: 9px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.addButton,
#clearButton {
	display: none;
}